<header>
    <a [ngClass]="{'d-none': router.url == '/imprint'}" (click)="scrollToSection('above-the-fold')">
        <span class="logo">A</span>
        <span class="logo">le</span>
        <span class="logo">x</span>
    </a>
    <a [ngClass]="{'d-none': router.url !== '/imprint'}" routerLink="/">
        <span class="logo">A</span>
        <span class="logo">le</span>
        <span class="logo">x</span>
    </a>
    <nav>
        <a (click)="scrollToSection('about-me')" [ngClass]="{'active': section === 'about-me'}">
            <span>Abou</span>t me
        </a>
        <a (click)="scrollToSection('skills')" [ngClass]="{'active': section === 'skills'}">
           <span>Skills</span>
        </a>
        <a (click)="scrollToSection('portfolio')" [ngClass]="{'active': section === 'portfolio'}">
            <span>Portf</span>olio
        </a>
    </nav>
    <img *ngIf="!menuOpen" (click)="openMenu()"  class="burger" src="assets/img/burger.svg" alt="">
    <img *ngIf="menuOpen" (click)="closeMenu()"  class="burger" src="assets/img/close-final.svg" alt="">
</header>
<nav class="mobile-nav" *ngIf="menuOpen" [@slideInOut]>
    <a (click)="scrollToSection('about-me')">About me</a>
    <a (click)="scrollToSection('skills')">My skills</a>
    <a (click)="scrollToSection('portfolio')">Portfolio</a>
    <a (click)="scrollToSection('contact')"><span>Contact</span></a>
</nav>