<div class="about-me-left-container">
    <h2>About me</h2>
    <p>Hi, I am a Front-end developer based in München, Germany(...) Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Nulla praesentium commodi ullam, sint reiciendis error eius. Ut, optio quam tempore deleniti pariatur
        dolor
        quod, dolore provident suscipit voluptate, reiciendis autem?</p>
    <div class="personal-info">
        <div class="img-container">
            <img src="/assets/img/bulb.svg" alt="">
        </div>
        <p>Some personal thing to share(...) Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quisquam
            porro incidunt. Et consectetur necessitatibus sint maxime possimus quae voluptate, pariatur incidunt quaerat
            veritatis cupiditate! Deserunt fugit rerum natus iusto!</p>
    </div>
    <div class="personal-info">
        <div class="img-container">
            <img src="/assets/img/puzzle desktop.svg" alt="">
        </div>
        <p>Some personal thing to share(...) Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quisquam
            porro incidunt. Et consectetur necessitatibus sint maxime possimus quae voluptate, pariatur incidunt quaerat
            veritatis cupiditate! Deserunt fugit rerum natus iusto!</p>
    </div>
</div>

<div class="about-me-right-container">
    <img src="/assets/img/photo2.png" alt="">
    <div class="line-photo"></div>
</div>