<div class="above-the-fold-head">
    <div class="photo-container">
        <img src="/assets/img/photo.svg">
        <!-- <img src="/assets/img/Group 2.svg" alt=""> -->
    </div>

    <div class="right-container">
        <div class="text">
            <p class="vertical-text">I am</p>
            <div class="right-text">
                <p>Alex Schneider</p>
                <p>FRONTEND DEVELOPER</p>
            </div>
        </div>
        <div class="btn-container">
            <button>Let's talk!</button>
        </div>
    </div>
    <img class="vector" src="/assets/img/Vector.svg" alt="">
</div>

<div class="above-the-fold-bottom">
    <div class="above-the-fold-bottom-left">
        <div class="line"></div>
        <img src="../../assets/img/github-icon.svg" alt="">
        <img src="../../assets/img/mail-icon.svg" alt="">
        <img src="../../assets/img/linkedin-icon.svg" alt="">
        <span>dominikr@gmail.com</span>
    </div>
    <div class="above-the-fold-bottom-right">
        <a href="">Scroll down</a>
        <img src="../../assets/img/arrow-down.svg" alt="">
    </div>
</div>

<!-- <img class="vector" src="/assets/img/Vector.svg" alt=""> -->