@for (project of projects; track $index) {
  <div [ngClass]="{ 'reverse-project': $index % 2 === 1 }" class="projects">
    <img data-aos="fade-up" src="assets/img/{{ project.picture }}.png" alt="" />
    <div class="project-description">
      <h3 data-aos="fade-up">{{ project.name }}</h3>
      <span data-aos="fade-up">{{ project.technologies }}</span>
      <p data-aos="fade-up">{{ project.description }}</p>
      <div class="btn-container">
        <a
          href="https://schneider-alexander.net/{{ project.liveTest }}"
          target="_blank"
          data-aos="fade-up"
          >Live test</a
        >
        <a
          href="https://github.com/HanamiGeto/{{ project.github }}"
          target="_blank"
          data-aos="fade-up"
          >Github</a
        >
      </div>
    </div>
  </div>
}
