:host {
  overflow: hidden;
}

#above-the-fold {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-top: 110px;
}

#about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0 0 0 100px;
  padding-top: 143px;
}

#skills {
  display: flex;
  justify-content: space-between;
  padding-top: 300px;
  position: relative;
}

#portfolio {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 175px;
}

#contact {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 18px;
}

@media (max-width: 1080px) {
  #about-me {
    padding: 143px 100px 0;
  }

  #skills {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 200px;
  }

  #contact {
    padding-top: 52px;
    overflow: hidden;
  }
}

@media (max-width: 800px) {
  #about-me {
    padding: 143px 25px 0;
  }

  #contact {
    padding-top: 90px;
  }
}
