<div class="about-me-left-container">
  <h2 data-aos="fade-right">About me</h2>
  <p data-aos="fade-right">
    Hi, I am a Front-end developer based in Nürnberg, Germany with experience in
    building web applications using JavaScript & Angular. I have been interested
    in web development since my school days.
  </p>
  <div data-aos="fade-right" class="personal-info">
    <div class="img-container">
      <img src="assets/img/bulb.svg" alt="" />
    </div>
    <p>
      Last year, I decided to put this interest into practice in a professional
      training program. There I was able to gain experience in many practical
      projects and was regularly supported by trainers to develop good and clean
      code.
    </p>
  </div>
  <div data-aos="fade-right" class="personal-info">
    <div class="img-container">
      <img src="assets/img/puzzle desktop.svg" alt="" />
    </div>
    <p>
      I'm excited about building on my experience and starting my career in IT
      as a junior developer.
    </p>
  </div>
</div>

<div class="about-me-right-container">
  <img data-aos="fade-left" class="pic" src="assets/img/crop3new.png" alt="" />
  <div data-aos="fade-left" class="line-photo"></div>
</div>
<img class="shadow" src="assets/img/Purple shadow.svg" alt="" />
