<div data-aos="fade-up" class="contact-header">
  <div class="line"></div>
  <h2>Contact</h2>
</div>
<div class="contact-container">
  <div class="left-container">
    <h4 data-aos="fade-up">Got a problem to solve?</h4>
    <p data-aos="fade-up">
      Contact me through this form, I am interested in hearing you, knowing your
      ideas and contributing to your projects with my work.
    </p>
    <p data-aos="fade-up">Need a Frontend developer? <b>Contact me!</b></p>
  </div>
  <pf-contact-form></pf-contact-form>
  <img src="assets/img/Red 3 footer.svg" alt="" />
</div>
